
.best__furniture {
  display: flex;
  gap: 6.25rem;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  width: 100%;

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.1875rem;
      width: 35.625rem;

        &__title {
          font: var(--font-40);
        }

        &__subtitle {
          font: var(--font-20);
        }
    }

  &__img {
    max-width: 34.625rem;
    width: 100%;
    min-width: 0;
  }
}

@media (max-width: 1200px) {
  .best__furniture__content__title {
          font: var(--font-28);
        }

  .best__furniture__content__subtitle {
    font: var(--font-14);
  }
}

@media (max-width: 768px) {
  .best__furniture {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
  }

  .best__furniture__content {
    width: 100%;
  }

  .best__furniture {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}