
.create__home {
  display: flex;
  gap: 6.25rem;
  padding-top: 4.6875rem;
  padding-bottom: 4.625rem;

    &__img {
      max-width: 34.625rem;
      width: 100%;
      min-width: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.1875rem;
      align-items: center;
      margin-top: .5625rem;
      color: var(--color-black);

        &__top {
          display: flex;
          flex-direction: column;
          gap: .875rem;

            &__title {
              font: var(--font-40);
              text-transform: capitalize;
            }

            &__subtitle {
              font: var(--font-20);
              line-height: 170%;
            }
        }


      &__list {
        display: flex;
        gap: 1rem;
        align-items: start;

          &__container {
            display: flex;
            flex-direction: column;
            gap: .5rem;

              &__title {
                font: var(--font-20-bold);
              }

              &__subtitle {
                font: var(--font-16);
              }
          }
      }
    }
}

@media (max-width: 1200px) {

  .create__home__content__top__title {
    font: var(--font-28);
  }

  .create__home__content__top__subtitle {
    font: var(--font-16);
  }
}

@media (max-width: 992px) {
  
  .create__home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 768px) {

  .create__home__content__list__container__title {
    font: var(--font-16);
    font-weight: 600;
  }

  .create__home {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    gap: 3.125rem;
  }

}