.header {
  background-image: url(../../assets/img/background-img-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px;
  color: var(--color-white);

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 1.75rem;

      &__logo {
        font: bold, 700, 2.25rem, Saira, sans-serif;
      }
  }

}
