.header {
  background-image: url(../../assets/img/background-img-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1000px;
  color: var(--color-white);

  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 1.75rem;

      &__logo {
        font: var(--font-logo)
      }

      &__menu {
        
          &__list {
            display: flex;
            gap: 4rem;
          }

          &__link {
            text-decoration: none;
            font: var(--font-16);
          }
      }
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.75rem;
    gap: 1.875rem;
    text-align: center;

      &__title {
        font: var(--font-title);
        max-width: 55.5rem;
        width: 100%;
      }

      &__subtitle {
        font: var(--font-20);
        max-width: 39.1875rem;
        width: 100%;
      }

      &__button {
        padding: 1rem 5rem;
        border-radius: .625rem;
        background-color: #E2E2E266;
        border: none;
        font: var(--font-20-bold);
        backdrop-filter: blur(.125rem); // Работает ли у тебя бэкдроп на браузере? У меня на Edge нет
      }

  }

  &__bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 12.125rem;

          &__table {
            display: flex;
            gap: 11.875rem;
            background-color: var(--color-dark-green);
            padding: 2.375rem 3.125rem;
            border-radius: 1.25rem;

              &__item {
                @include display-column;
              }
          }
      }

}
