

.mySwiper .swiper-slide {
  background: none;
  max-width: 16.5625rem;
  width: 100%;
  max-height: 25rem;

  &img {
    width: 100%;
    height: 100%;
    max-height: 25rem;
  }
}

.swiper__item {
  width: 100%;
  height: 100%;
  max-height: 25rem;
}


