
// Миксины // 

@mixin display-column{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin display-row () {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin display-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

