

// подключение файлов //

@import "./reset.scss";
@import "./variables.scss";
@import "./global.scss";
@import "./mixins.scss";
// Секции //


@import "./section/header.scss";
@import "./section/create__home.scss";
@import "./section/new__storenow.scss";
@import "./section/best__furniture.scss";
@import "./section/all__product.scss";
@import "./section/about__us.scss";
@import "./section/your__email.scss";
@import "./section/footer.scss";
@import './section/swiper.scss';
