// Цвета //

:root {

--color-white: #FFFFFF;
--color-dark-green: #286F6C;
--color-black: #23262F;

// Размеры шрифтов // 

--font-14: 400 .875rem "Saira", sans-serif;
--font-16: 400 1rem "Saira", sans-serif;
--font-20: 400 1.25rem/130% "Saira", sans-serif;
--font-20-bold: 600 1.25rem/150% "Saira", sans-serif;
--font-24: 600 1.5rem/130% "Saira", sans-serif;
--font-28: 600 1.75rem/160% "Saira", sans-serif;
--font-40: 600 2.5rem "Saira", sans-serif;

--font-logo: normal 700 2.25rem/100% "Saira", sans-serif;
--font-title: 600 4rem/120% "Saira", sans-serif;;

}