// Цвета //

:root {

--color-white: #FFFFFF;
--color-dark-green: #286F6C;
--color-black: #23262F;

// Размеры шрифтов // 

--font-16: SemiBold 600 1rem Saira;
--font-20: Regular 400 1.25rem/150% Saira;
--font-24: SemiBold 600 1.5rem/130% Saira;
--font-28: SemiBold 600 1.75rem/160% Saira;

--font-logo: Bold 700 2.25rem/100% Saira;
--font-title: SemiBold 600 4rem/120% Saira;

}